<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark"  id="navbar">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        MENU
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/mainPart" routerLinkActive="active">Find a ticket</a>
        <a class="dropdown-item" routerLink="/countries#countries" routerLinkActive="active">Countries</a>
        <a class="dropdown-item" href="http://127.0.0.1:4200/countries#hoteles">Hoteles</a>
      </div>
    </li>
  </nav>
</div>
