/*for pictures of countries*/
#countries {
	padding-top: 500px;
    background-color: #FFFAE1;
}

.card-columns {
    padding: 10px;
}

.card-title {
    padding: 0;
    text-align: right;
    margin: 0;
    color: #FFFAE1;
    background-color: #919636;
}

.card-body {
    background-color: #919636;
}

#btn {
    background-color: #FFFAE1;
	color: #5A5F37;
    border-color: #5A5F37;
}

.card-text {
    color: #5A5F37;
}

#hoteles {
    background-color: #FFFAE1;
    padding: 10px;
}

