<div class="card-columns" id="countries">
    <div class="card">
        <a href="https://en.wikipedia.org/wiki/Mexico_City"><img class="card-img-top" src="../../../assets/images/mexicoCity.jpg" alt="MexicoCity" height="177px"></a>
        <div class="card-body">
          <h4 class="card-title">MEXICO CITY</h4>
        </div>
    </div>
    <div class="card">
        <a href="https://en.wikipedia.org/wiki/Paris"><img class="card-img-top" src="../../../assets/images/paris.jpg" alt="Paris" height="177px"></a>
        <div class="card-body">
          <h4 class="card-title">PARIS</h4>
        </div>
    </div>
    <div class="card">
        <a href="https://en.wikipedia.org/wiki/Dubai"><img class="card-img-top" src="../../../assets/images/dubai.jpg" alt="Dubai" height="177px"></a>
        <div class="card-body">
          <h4 class="card-title">DUBAI</h4>
        </div>
    </div>
    <div class="card">
        <a href="https://en.wikipedia.org/wiki/Moscow"><img class="card-img-top" src="../../../assets/images/moscow.jpg" alt="Moscow" height="177px"></a>
        <div class="card-body">
            <h4 class="card-title">MOSCOW</h4>
        </div>
    </div>
    <div class="card">
        <a href="https://en.wikipedia.org/wiki/Los_Angeles"><img class="card-img-top" src="../../../assets/images/losAngeles.jpg" alt="Los Angeles" height="177px"></a>
        <div class="card-body">
            <h4 class="card-title">LOS ANGELES</h4>
        </div>
    </div>
    <div class="card">
        <a href="https://en.wikipedia.org/wiki/London"><img class="card-img-top" src="../../../assets/images/london.jpg" alt="London" height="177px"></a>
        <div class="card-body">
            <h4 class="card-title">LONDON</h4>
        </div>
    </div>
</div>
